<!DOCTYPE HTML>
<html>
<head data-th-insert="~{head :: html_head}">
    <title id="pageTitle">Swiftion - Someting went wrong</title>
</head>
<body class="bg-general">
<!-- start navbar -->
<header id="navbar" data-th-insert="~{navbar-error :: html_error_navbar}"></header>
<!-- end navbar -->
<!-- start main container -->
<div class="h-100 d-flex justify-content-center">
    <div class="container mt-3">
        <div class="row">
            <h1 class="text-white">Error</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-white">Someting went wrong we are trying to fix it</div>
                <div class="text-white"><a class="text-white" href="/logout">Go back to login screen and try again</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main container  -->
</body>

</html>