##################################################
##### MySQL creds (root:MYSQL_ROOT_PASSWORD) #####
##################################################
MYSQL_ROOT_PASSWORD=test

#####################################
###### MongoDB container config #####
#####################################
MONGO_INITDB_ROOT_USERNAME=test
MONGO_INITDB_ROOT_PASSWORD=test

ME_CONFIG_MONGODB_ADMINUSERNAME=test
ME_CONFIG_MONGODB_ADMINPASSWORD=test

###########################
##### backup purposes #####
###########################
CONTAINER_ID=f9