<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head data-th-insert="~{head :: html_head}">
    <title id="pageTitle">Swiftion - Profiel</title>
</head>
<body class="bg-general">
<!-- start navbar -->
<header id="navbar" data-th-insert="~{navbar :: html_navbar}"></header>
<!-- end navbar -->
<!-- start main container -->
<div class="h-100 d-flex justify-content-center">
    <div class="container mt-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="text-white">Wachtwoord wijzigen</h1>
                <div id="adduser" class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <section id="errormessage"
                                         data-th-insert="~{messageHandeling :: html_message}"></section>
                                <div class="text-center mt-3">
                                    <p class="text-white">Een wachtwoord dient te bestaan uit minimaal 8 karakters <br>
                                        1 hoofdletter, 1 cijfer en 1 speciaal karakter</p>
                                </div>
                                <form th:action="${'/edit-password/update/' + userId}" method="POST"
                                      id="password-update">
                                    <div class="d-flex flex-column mx-auto w-50">
                                        <label class="text-white" for="current-pw">Huidig wachtwoord</label>
                                        <p class="w-100">
                                            <input class="rounded border border-none w-100" type="password"
                                                   id="current-pw" name="current-pw" required>
                                            <i style="margin-left: -30px; cursor: pointer" class="bi bi-eye"
                                               onclick="togglePassword('current-pw')"></i>
                                        </p>
                                    </div>
                                    <div class="d-flex flex-column mx-auto w-50 mt-3">
                                        <label class="text-white" for="new-pw">Nieuw wachtwoord</label>
                                        <p class="w-100">
                                            <input class="rounded border border-none w-100" type="password" id="new-pw"
                                                   name="new-pw" required>
                                            <i style="margin-left: -30px; cursor: pointer" class="bi bi-eye"
                                               onclick="togglePassword('new-pw')"></i>
                                        </p>
                                    </div>
                                    <div class="d-flex flex-column mx-auto w-50 mt-3">
                                        <label class="text-white" for="new-pw-repeat">Nieuw wachtwoord herhalen</label>
                                        <p class="w-100">
                                            <input class="rounded border border-none w-100" type="password"
                                                   id="new-pw-repeat"
                                                   name="new-pw-repeat" required>
                                            <i style="margin-left: -30px; cursor: pointer" class="bi bi-eye"
                                               onclick="togglePassword('new-pw-repeat')"></i>
                                        </p>
                                        <button class="btn custom-btn-general mt-5" name="edit-password"
                                                value="edit-password" type="submit">
                                            Wachtwoord wijzigen
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main container  -->
</body>

</html>

<script src="/javascript/show-password.js"></script>