<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-insert="~{head :: html_head}">
    <title id="pageTitle">Swiftion - User overview</title>
</head>
<body class="bg-general">
<!-- start navbar -->
<header id="navbar" data-th-insert="~{navbar :: html_navbar}"></header>
<!-- end navbar -->
<!-- start main container -->
<div class="container h-100 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center align-items-center">
                <div class="col-6">
                    <div class="d-flex justify-content-center mt-5">
                        <h1 class="bg-white">TESTDATA</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end main container  -->
</body>

</html>